
body{
    margin: 0 50px;
}
.container{
    display:flex;
    gap:50px;
}
.options{
    display:flex;
    gap:20px;
}
i{
    cursor:pointer;
}
#msg{
    color: red;
}
#posts div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}